@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply tracking-wide bg-slate-200 text-slate-800;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold;
    }

    h1 {
        @apply text-4xl sm:text-3xl;
    }

    li {
        @apply cursor-pointer;
    }

    button {
        @apply px-4 py-2 uppercase shadow-xl shadow-gray-500 rounded-xl bg-gradient-to-br from-blue-400 to-blue-600 hover:bg-blue-800 hover:text-white;
    }
}

.keyboard {
    background-image: url('/images/keyboard.jpg');
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat;
    background-attachment: fixed !important;
    height: 200px !important;
}

/* .active {
    border-bottom: 3px solid #000;
} */
